body {
    background-color: black;
}

hr {
    margin: 10px;
}

.banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.61)), url(img/banner.png);
}


.banner-content > h1 {
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content > p {
    text-align: justify;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-content > button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 326px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;
    color: #33A8DB;
    background-color: rgba(0, 0, 0, 0.274);
}



.logo {
    text-align: center;
}

#course-content {
    background-color: black;
    height: 350px;
}

#course-content > h2 {
    text-align: center;
    padding-top: 30px;
    color: #33A8DB;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
}

#course-content > p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
}

.module {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid blue; 
    border-radius: 20px; 
    padding: 10px;
    color: white;
    text-align: center;
    width: 50%;
    margin: 10px;
}

#transform-world {
    background-image: url('img/woman-code1.png'); /* Substitua pelo caminho para sua imagem */
    background-attachment: fixed;
    width: 1350px;
    height: 400px;
}

    #transform-world > p {
        font-family: Raleway;
        font-size: 45px;
        color: white;
        padding-left: 40px;
        padding-top: 100px;
    }

#professional-challenges {
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    color: white;
}